<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Create New Meeting Request</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<style>
    .footer {
        position: fixed;
        left: 1%;
        bottom: 0;
        width: 100%;
    }
</style>

</head>

<body>
<div class="container">

<h6 align="right">MeetMe</h6><br>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}

<form action="/get_data" method="post">
    <!--
        Call get data, which grabs their full name and meeting ID
        which then calls choose which then renders the respond.html template
    -->
    <div class="form-group">
        <label for="meetingID">Meeting ID:</label>
        <input type="string" id="meetingID" name="meetingID" class="form-control" placeholder="MeetingID" aria-describedby="meetingIDHelpBlock">
        <p id="meetingIDHelpBlock" class="form-text text-muted">
            Your Meeting ID was included in the email you received from your meeting planner. If you are having issues, please double check that you have the correct Meeting ID.
        </p>
    </div>
    <div class="form-group">
        <label for="fullname">Name</label>
        <input type="name" class="form-control" id="fullName" name="fullName" placeholder="Full Name" aria-describedby="meetingIDHelpBlock">
        <p id="meetingIDHelpBlock" class="form-text text-muted">
            Please enter your full name as known by the meeting planner.
        </p>
    </div>
    <button type="submit" class="btn btn-primary float-right">Submit</button>
</form>
<br><br>






<div class="footer">
<p>If you are having issues responding to your meeting request, please contact your meeting planner and ensure that you have the correct full name and Meeting ID.</p>
</div>
</body>  </div>  <!-- container (for bootstrap) -->
</html>